
:root {
    --primary: #7A29FD;
    --secondary: #707070;
    --white: #FFFFFF;
    --black: #000000;
  }

nav.button {
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.background-img {
    height: 100vh;
    background-image: url(../assets/Images/DarkBG.jpg);
    background-size: cover;
}

.saved-link {
    font-weight: 500px;
    font-size: 20px;
}

/* Remove underline from link */
.saved-link a {
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-color: black;
    color: white;
    column-gap: 50px;
}

.footer-logo {
    width: 100px;
}