:root {
    --primary: #7A29FD;
    --secondary: #707070;
    --white: #FFFFFF;
    --black: #000000;
}

a {
    color: var(--primary)
}

body {
    font-family: 'Montserrat', sans-serif;
}

.background-img {
    height: 100vh;
    background-image: url(../assets/Images/DarkBG.jpg);
    background-size: cover;
}

/* Override bootstrap css */
.navbar-expand-lg {
    justify-content: space-between;
}

#search {
    display: flex;

}

#searchForm {
    position: fixed;
    top: 50%;
    left: 38%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: #FFFFFF;
}

input {
    float: left;
    width: 80%;
    padding-top: 5px;
    border-radius: 0%;
    border-left: none;
    border-top:none;
    border-bottom: none;
}

#category-input {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    border:none;
    color:var(--secondary)
}

#searchButton{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    
}

.saved-link {
    font-weight: 500px;
    font-size: 20px;
}

/* Remove underline from link */
.saved-link a {
    text-decoration: none;
}

#select {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-color: black;
    color: white;
    column-gap: 50px;
}

.footer-logo {
    width: 100px;
}

/* Results page placeholder */
.saved-events {
    margin-left: 3%;
}
